body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F0F7F4;
    color: #3C493F;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}
main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    width: 100%;
}
.col-1, .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.col-1 > nav {
    margin: 20px 0px 50% 30px;
}
.col-1 > nav > h1 {
    font-size: 60px;
    margin: 20px 0px 30px 0px;
}
.col-1 > nav > ul {
    list-style-type: none;
    padding-left: 0px;
}
.col-1 > nav > ul > li {
    margin: 10px 0px 0px 0px;
    font-size: 26px;
}
.col-1 > nav a {
    text-decoration: none;
    color: #3C493F;
}
.col-1 > nav a:hover {
    text-decoration: line-through;
    font-size: 30px;
}

.col-1 > article {
    margin: 75% 0px 50px 30px;
}
.image-container{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: url("turkeymtn-tape.jpg");
    background-size: 100%;
    box-shadow: -3px 6px 10px -1px rgba(0,0,0,0.72);
    margin: 20% auto 0px auto;
}
.circle-buttons {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #7E8D85;
    box-shadow: -3px 6px 10px -1px rgba(0,0,0,0.72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.circle-buttons:hover {
    background-color: #A2E3C4;
    box-shadow: none;
}
.second-circle-button {
    margin: 65% 30% 0px 0px;
}
.col-3 > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #3C493F;
    
}
.col-3 > a > p { 
    margin: 22px 15px 0px 0px;
}
.col-3 > div > p {
    margin: 50% auto 0px auto;
    border-top: 1px solid #3C493F;
    border-bottom: 1px solid #3C493F;
}
.col-3 > div > p > a {
    color: #7E8D85;
    text-decoration-color: #7E8D85;
}
.circle-buttons > i {
    color: #F0F7F4;
    margin: 10px auto;
}
